.page {
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
}

.title_container {
  width: 100vw;
  padding: 1em 1em;
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
  text-align: center;
}

.portfolio_link {
  margin: 0.2em 0 1em 0;
}

.portfolio_link h1{
  text-decoration: none;
  color: rgb(144, 95, 189);
}

.portfolio_link:hover {
  text-decoration: none;
  color: rgb(188, 167, 209);
}

.github_profile_image {
  border-radius: 50px;
}
